    .nav {
        height: 40px;
        background-color: #333;
        display: flex;
        justify-content: flex-start;
    }

    .navlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .navlist li {
        width: 100px;
        line-height: 40px;
        text-align: center;
    }

    .navlist a {
        color: white;
        display: block;
        text-decoration: none; /* 移除下划线 */
    }

    .navlist li a:hover {
        background-color: #444; /* 修正选择器 */
    }

    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none; /* 修正属性名为 list-style */
    }