nav {
  display: flex;
  justify-content: flex-betweem;
  background-color: #F0F0F0;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-evenly;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 10px; /* 统一内边距 */
  margin: 0; /* 移除外边距 */
}

nav a {
  text-decoration: none;
  color: black;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li:last-child {
  margin-right: 0;
}

a:hover {
  color: blue;
}